.header {
  height: auto;
  margin-bottom: 0;
  font-family: Helvetica;
  font-size: 30px;
  text-align: center;
  display: run-in;
  border: 1px solid #333;
  background-color: #333;
}

.header h2{
  text-shadow: 5px 4px 8px black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.header_img {
  height: 200px;
  width: 200px;
  margin: auto;
  position: relative;
  display: block;
  border: 2px solid #FF4136;
  border-radius: 5px 20px 5px;
  margin-bottom: 40px;
  box-shadow: 4px 6px 8px black;
}

.header_img_profile {
  height: inherit;
  width: auto;
  margin: auto;
  position: relative;
  /*border: 5px solid #333;*/
  border-radius: 5px 20px 5px;
}

.header_description {
  background-color: #444444;
  opacity: .7;
}